* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/abstract-nature-7680x4320-8k-21456.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 4s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
}

h1,
p {
    color: #000000;
    transition: color 4s;
}